<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
    <div style="text-align:center">
      <h2>Write something nice</h2>
      <div class="form-group">
      <input type="text" id="txtMsg" class="form-control" [(ngModel)]='messageText'>
    </div>
      <button (click)="sendMsg()" class="btn btn-dark"><i class="fa fa-envelope-open"></i> Send Message</button>
    </div>
    <div>
      <p>Press F12 and see the console.</p>
    </div>
  </div>
  
</div>
<app-footer></app-footer>



